<div class="wrapper d-flex">
  <div class="wrapper__left d-flex flex-column w-100 h-100">
    <form class="left__form d-flex flex-column" [formGroup]="formGroup" (ngSubmit)="onSubmitClick()">
      <a class="logo align-self-start" routerLink="/">
        <img src="assets/images/logo-gray.png" alt="">
      </a>
      <h3 class="heading mb-4">Sign Up</h3>
      <mat-form-field class="w-100" appearance="outline">
        <input matInput type="text"
               placeholder="Full Name" autocomplete="off" autocorrect="off"
               formControlName="fullName">
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <input matInput type="email"
               placeholder="Email" autocomplete="off" autocorrect="off"
               formControlName="email">
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <input matInput type="password"
               placeholder="Password" autocomplete="off" autocorrect="off"
               formControlName="password">
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <input matInput type="password"
               placeholder="Repeat Password" autocomplete="off" autocorrect="off"
               formControlName="repeatPassword">
      </mat-form-field>
      <p class="text-danger mb-0" *ngIf="errorMessage">{{errorMessage}}</p>
      <button class="fun-button mb-4" type="submit"
              mat-raised-button color="primary"
              [disabled]="formGroup.invalid">Sign Up
      </button>
      <div class="d-flex">
        <span class="mr-2">Already have an account?</span><a class="link" routerLink="/login">Login!</a>
      </div>
    </form>
  </div>
  <div class="wrapper__right right">
    <h3 class="heading heading--primary align-self-center">Welcome to Fungible</h3>
    <img class="right__image" src="assets/images/biz.png" alt="">
  </div>
</div>
